
    <div class="roof">
    </div>

    <nav class="top-menu">
        <div class="container">
            <span class="separator-left"></span>
            <a href="@Url.Action("Index", "Home")" class="menu-item">
                <span class="active-highlight"></span>
                Главная
            </a>
            <a href="@Url.Action("Index","Info")" class="menu-item">
                <span class="active-highlight"></span>
                Полезная информация
            </a>
            <a href="@Url.Action("Contacts", "Home")" class="menu-item  menu-active">
                <span class="active-highlight"></span>
                Контакты
            </a>
            <a href="@Url.Action("Documents", "Home")" class="menu-item">
                <span class="active-highlight"></span>
                Документы
            </a>
            <span class="separator-right"></span>

            <div class="user-menu">
                <span class="separator-left"></span>
                <div class="user-menu-item">
                    <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown">
                        Вася Иванов
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Профиль</a></li>
                        <li><a href="#">Выход</a></li>
                    </ul>
                </div>
                <span class="separator-right"></span>
            </div>
        </div>
    </nav>
