
    <div class="roof">
    </div>

    <nav class="top-menu">
        <div class="container">
            <a href="@Url.Action("Index","Home")" class="menu-item">Главная</a>
            <a href="#" class="menu-item">Полезная информация</a>
            <a href="@Url.Action("Contacts","Home")" class="menu-item">Контакты</a>
            <a href="@Url.Action("Documents","Home")" class="menu-item">Документы</a>
            <a href="@Url.Action("Login","Account")" class="menu-item">Войти</a>
        </div>
    </nav>
