<div class="news-card card">
    <h3>Снятие показаний приборов учета вручную в прошлом</h3>
    <img class="news-image" src="/images/get_values.jpg" />
    <div class="news-content">
        
        Благодаря системе диспетчеризации приборов учета "Наш дом" вам больше не надо
        вручную снимать и вносить показания приборов учета.

        <br />
        <br />
        <a href="@Url.Action("Post","Info", new {id=1})" class="btn btn-primary">Читать далее</a>
    </div>
</div>