<div class="news-card card">
    <h3>Новость</h3>
    <img class="news-image" src="https://habrastorage.org/getpro/geektimes/post_images/da4/3dc/965/da43dc965abfa97d93f2faca0d0a457a.jpg" />
    <div class="news-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae sagittis lacus, eget rhoncus enim. Nunc blandit nisi at elementum aliquet. Aenean et odio nec dolor vehicula pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nunc justo. Vestibulum vehicula pellentesque nulla non varius. Nulla facilisi. Cras auctor in urna non cursus.

        <br />
        <br />
        <a href="@Url.Action("Post","Info", new {id=1})" class="btn btn-primary">Читать далее</a>
    </div>
</div>