@model string
    
@{
    string gl_class;
    if (Model == "good")
    {
        gl_class = "glyphicon-ok-circle";
    }
    else if (Model == "warning")
    {
        gl_class = "glyphicon-warning-sign";
    }
    else
    {
        gl_class = "glyphicon-remove-circle";
    }
}

<div class="sensor-status @Model">
    <i class="glyphicon @gl_class"></i>
</div>