<div class="roof">
</div>

<div class="banner">

    <nav class="top-menu">
        <div class="container">
            <a href="#" class="menu-item">Главная</a>
            <a href="#" class="menu-item">Полезная информация</a>
            <a href="#" class="menu-item">Контакты</a>
            <a href="#" class="menu-item">Документы</a>
            <a href="#" class="menu-item">Войти</a>
        </div>
    </nav>

    @*<img class="banner-window" src="/images/window.png" />*@
    <div class="window-position">
        <div class="banner-window">
            <div class="window-content"></div>
            <div class="window"></div>
        </div>
    </div>



    <div class="banner-text">
        <h1>Наш дом</h1>
        <h2>Система учета расходов</h2>
    </div>
</div>


<div class="container">

    <div class="block">
        <h1>Описание</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis ornare diam, ut mollis velit consectetur sed. Pellentesque mauris lorem, fermentum sagittis tempor in, molestie nec tortor. Nam dignissim id tortor quis ultricies. Etiam fringilla ante urna, eget consectetur diam ultrices aliquet. Etiam tellus ligula, semper eget commodo eu, iaculis a libero. Ut sagittis neque auctor nisl condimentum, et scelerisque augue luctus. Donec id justo pharetra, condimentum lacus a, facilisis quam. Pellentesque accumsan risus in elit lacinia hendrerit. Nulla dapibus laoreet neque, eget lacinia lectus finibus ac. Ut vestibulum libero libero, ornare tincidunt urna fermentum ac. Ut molestie tortor in nisi feugiat eleifend. Aliquam purus massa, pellentesque nec felis quis, sodales tempor sapien. Proin sollicitudin commodo augue, eget cursus nunc volutpat sed. Praesent venenatis tristique enim eget commodo. Donec pretium purus vel lectus aliquet gravida.
            Cras pellentesque enim nec finibus ultrices. Morbi ut blandit sem. Sed bibendum dignissim ante vel suscipit. Nunc ac tortor id arcu ullamcorper porttitor. Nulla maximus tellus et arcu sollicitudin tincidunt. Etiam ultrices, felis vel sodales vehicula, leo diam tincidunt justo, sit amet dignissim augue tortor at erat. Aenean commodo fermentum convallis. Curabitur consequat nulla at ultricies malesuada. Vestibulum tempus magna ut rutrum cursus. Nam et sem tellus. Integer vulputate dolor justo, sed sodales nisi vestibulum quis. Aliquam pretium scelerisque scelerisque. Mauris tincidunt quam id eros iaculis, at tristique erat eleifend.
        </p>
    </div>
    <div class="block">
        <h1>Возможности</h1>
        <table class="card">
            <tr>

                <td class="feature-image">
                    <div class="feature-window">
                        <div class="window-content feature-image-content">
                            <img src="http://c.dryicons.com/images/icon_sets/shine_icon_set/png/256x256/image_add.png" />
                        </div>
                        <div class="window"></div>
                    </div>
                </td>

                <td class="feature-conent">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae sagittis lacus, eget rhoncus enim. Nunc blandit nisi at elementum aliquet. Aenean et odio nec dolor vehicula pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nunc justo. Vestibulum vehicula pellentesque nulla non varius. Nulla facilisi. Cras auctor in urna non cursus.
                </td>

            </tr>
        </table>


        <table class="feature-card">
            <tr>
                <td class="feature-conent">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae sagittis lacus, eget rhoncus enim. Nunc blandit nisi at elementum aliquet. Aenean et odio nec dolor vehicula pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nunc justo. Vestibulum vehicula pellentesque nulla non varius. Nulla facilisi. Cras auctor in urna non cursus.
                </td>

                <td class="feature-image">
                    <div class="feature-window">
                        <div class="window-content feature-image-content">
                            <img src="http://c.dryicons.com/images/icon_sets/shine_icon_set/png/256x256/image_add.png" />
                        </div>
                        <div class="window"></div>
                    </div>
                </td>

            </tr>
        </table>


        <table class="feature-card">
            <tr>

                <td class="feature-image">
                    <div class="feature-window">
                        <div class="window-content feature-image-content">
                            <img src="http://c.dryicons.com/images/icon_sets/shine_icon_set/png/256x256/image_add.png" />
                        </div>
                        <div class="window"></div>
                    </div>
                </td>

                <td class="feature-conent">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae sagittis lacus, eget rhoncus enim. Nunc blandit nisi at elementum aliquet. Aenean et odio nec dolor vehicula pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nunc justo. Vestibulum vehicula pellentesque nulla non varius. Nulla facilisi. Cras auctor in urna non cursus.
                </td>

            </tr>
        </table>
    </div>

    <div class="block">
        <h1>Последние новости</h1>        
    </div>
</div>