
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


@Html.Partial("Partial/_Menu")

<div class="banner">

    @*<img class="banner-window" src="/images/window.png" />*@
    <div class="window-position">
        <div class="banner-window">
            <div class="window-content"></div>
            <div class="window"></div>
        </div>
    </div>

    <div class="banner-text-container">
        <div class="banner-text">
            <h1>Наш дом</h1>
            <h2>Система учета расходов</h2>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">

        <div class="card">
            <h1>Описание</h1>
            <p>
                Диспетчеризация приборов учета водо-газо- энергоресурсов — готовое решение «Наш дом» для многоквартирных домов, 
                дачных поселков, предприятий и сбытовых компаний. Автоматизированная система контроля и учета ресурсов на базе 
                технологии «Наш дом» разворачивается в считанные часы. Теперь коммерческий учет ресурсов можно
                организовать без существенных затрат на оборудование и монтаж.
            </p>
            <p>
                Представьте, что есть возможность использовать систему сбора показаний — без проводов, 
                без промежуточного оборудования, без существенных затрат на монтаж. 
                Это решает все проблемы по созданию АСКУЭ в пределах квартала и даже города.
            </p>
            
            <p>
                Система "Наш дом" состоит из автономных регистраторов, которые подключаются к электро-, водо- или газосчетчикам и 
                передают информацию о потреблении на базовую станцию, расположенную, к примеру, на лестничной клетке, которая
                передает данные на наш сервер. В личном кабинете можно в удобной форме просмотреть данные о расходах по всем
                подключенным приборам учета.
                <a href="/images/scheme.png"><img class="feature-image" src="~/images/scheme.png"/></a>
            </p>
        </div>
        <h1>Возможности</h1>

        @*@Html.Partial("Partial/_FeatureCardPartial")
        @Html.Partial("Partial/_FeatureCardPartial")
        @Html.Partial("Partial/_FeatureCardPartial")*@
        
        <div class="row card feature-card">
            <div class="col-sm-4 feature-col">
                <img class="feature-image" src="/images/wireless.png" />
            </div>
            <div class="col-sm-8">
                <h3>Автономные регистраторы</h3>
                Регистраторы, которые устанавливаются на приборы учета обладают автономным питанием от батареи и 
                имеют беспроводную связь с базовой станцией, поэтому их установка проста и не требует подведения
                питания или коммуникаций.
            </div>
        </div>
        
        <div class="row card feature-card">
            <div class="col-sm-4 feature-col">
                <img class="feature-image" src="/images/clock.png" />
            </div>
            <div class="col-sm-8">
                <h3>Большое время автономной работы</h3>
                Благодаря энергосберегающим технологиям, регистраторы обладают большим
                временем автономной работы и не требуют частой смены батарей.
            </div>
        </div>
        
        <div class="row card feature-card">
            <div class="col-sm-4 feature-col">
                <img class="feature-image" src="/images/pc.png" />
            </div>
            <div class="col-sm-8">
                <h3>Удобный и функциональный личный кабинет</h3>
                <p>
                    Все пользователи системы имеют личный кабинет, который предоставляет доступ к большому количеству функций.
                    В личном кабинете пользователи могут просматривать сводку за текущий месяц - расходы по всем приборам учета и
                    соответствующую им стоимость, задолженности по платежам.
                </p>
                <p>
                    Также в личном кабинете доступна подробная статистика за прошлые месяцы, что позволяет пользователю мониторить и
                    и контроллировать собственные расходы.
                </p>
            </div>
        </div>
        
        <div class="row card feature-card">
            <div class="col-sm-4 feature-col">
                <img class="feature-image" src="/images/payment.png" />
            </div>
            <div class="col-sm-8">
                <h3>Осуществляйте платежи прямо из личного кабинета</h3>
                Никогда оплата коммунальных услуг не была такой удобной - система "Наш дом" позволяет не только измерять
                расходы, но и оплачивать счета на электричество, газ, воду прямо из личного кабинета
            </div>
        </div>

        <h1>Последние новости</h1>
       

        @Html.Partial("Partial/_NewsCardPartial")

    </div>

    <div class="kostil"></div>

</div>