<div class="container">
    
    <h1>Полезная информация</h1>

    @Html.Partial("Partial/_NewsCardPartial")
    @Html.Partial("Partial/_NewsCardPartial")
    @Html.Partial("Partial/_NewsCardPartial")
    @Html.Partial("Partial/_NewsCardPartial")
</div>