<div class="container">
    
    <h1>Снятие показаний приборов учета вручную в прошлом</h1>

    <div class="card">
        <img class="news-image" src="/images/get_values.jpg"/>
        
        <div class="news-content">
            <p>
                Благодаря системе диспетчеризации приборов учета "Наш дом" вам больше не надо
                вручную снимать и вносить показания приборов учета.
            </p>
            <p>
                Система "Наш дом" позволяет автоматически снимать показания с приборов учета,
                осуществлять мониторинг своих расходов и оплачивать счета.
            </p>
        </div>
    </div>
</div>