<div class="container">
    
    <h1>Заголовок новости</h1>

    <div class="card">
        <img class="news-image" src="https://habrastorage.org/getpro/geektimes/post_images/da4/3dc/965/da43dc965abfa97d93f2faca0d0a457a.jpg"/>
        
        <div class="news-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit erat arcu, vel volutpat sem convallis quis. Maecenas ex velit, tristique eu augue vitae, consectetur sagittis risus. Suspendisse accumsan vulputate diam, sit amet euismod leo rhoncus vitae. Vestibulum sed eleifend quam, at faucibus nulla. Praesent in quam consectetur, consequat odio non, suscipit dui. Ut non blandit odio. Mauris mi orci, scelerisque ac orci quis, mollis sollicitudin elit. Curabitur imperdiet aliquet augue, sit amet tempus ante. Donec luctus, odio ut accumsan viverra, massa elit venenatis nisl, quis sagittis mauris lectus id enim. Mauris et placerat purus. In ornare, leo non molestie tristique, orci lectus aliquet ipsum, id imperdiet risus massa vitae enim. Nullam quis ante vel sem aliquet facilisis eget eget lectus. Mauris dolor mauris, hendrerit eu tempor eget, accumsan et nibh. Praesent sodales dolor sed ligula gravida, eget tempor eros maximus. Nunc auctor feugiat nibh, non volutpat arcu lacinia eget. Aliquam vulputate, arcu et aliquet consectetur, orci purus venenatis ante, et laoreet arcu enim id velit.

            Nulla luctus varius arcu quis rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a arcu ante. Proin nec porta est. In eu aliquet velit. Donec dictum tortor non ultrices tristique. Pellentesque sit amet metus ipsum. Proin vehicula vitae nisl et vulputate. Vivamus sed turpis augue. Integer nec augue non magna malesuada dapibus. Morbi consectetur cursus purus interdum accumsan. Sed placerat aliquet hendrerit.

            Cras vel quam vel diam aliquet laoreet. Aliquam a nisi vitae nibh condimentum placerat vel sit amet nulla. Nunc ac erat nisi. Praesent est ligula, vestibulum in tincidunt sed, fermentum in mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque tincidunt non est suscipit pellentesque. Nulla urna ipsum, fermentum nec leo a, placerat tincidunt metus. Phasellus a volutpat mi. Nunc nec sollicitudin justo, ut congue quam. Fusce aliquet turpis ac ante euismod, ac hendrerit nunc gravida.

            Mauris ut quam facilisis, pharetra mi id, accumsan orci. Nam maximus velit id blandit convallis. In venenatis condimentum finibus. Integer consectetur sem id cursus placerat. Nulla imperdiet placerat enim. Integer elementum tristique erat, sit amet fringilla neque fringilla et. Mauris vestibulum erat non suscipit sodales. Integer pharetra augue a efficitur maximus. Sed vitae vestibulum eros. Sed egestas, ex ut congue bibendum, justo diam viverra mauris, vel feugiat ante justo non tortor. Fusce non ligula at velit fermentum pulvinar. Suspendisse id risus dolor. Nulla sed hendrerit lectus, scelerisque condimentum erat. Duis suscipit quam et bibendum suscipit. Curabitur eu est ut erat condimentum finibus quis et ex. Cras accumsan hendrerit massa.

            In lectus leo, imperdiet vel urna ac, vulputate suscipit libero. Nulla rhoncus tincidunt enim. Nunc in porttitor metus. Donec lorem metus, porta quis leo sit amet, dignissim pulvinar sapien. Suspendisse efficitur semper diam eget elementum. Cras vulputate tellus nec pellentesque eleifend. Sed ut pellentesque felis. Donec vulputate eget magna sed consequat. Nam mauris felis, laoreet non consectetur eu, euismod a felis. Aliquam velit nunc, accumsan a tincidunt efficitur, pharetra sit amet lectus. Phasellus feugiat vulputate sapien ut molestie. Nullam non porta ante.
        </div>
    </div>
</div>