@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Styles{
    @RenderSection("styles", required: false)
}

<div class="page-content">
    @Html.Partial("Partial/_Menu")
    @RenderBody()
    <div class="kostil"></div>
</div>



@section Scripts{
    @RenderSection("scripts", required: false)
}