.banner {
  height: 100%;
  position: relative;
  margin-top: -160px;
}
.banner-text {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  height: 200px;
  right: 300px;
}
.banner-text h1 {
  font-size: 100px;
  letter-spacing: 10px;
}
.banner-text h2 {
  font-size: 43px;
}
.window-position {
  position: absolute;
  top: 50%;
  width: 695px;
  height: 716px;
  margin-top: -280px;
  left: 60px;
}
.banner-window .window {
  position: relative;
  display: block;
  width: 695px;
  height: 716px;
  background-image: url('/images/window-empty.png');
  background-size: 100% 100%;
  z-index: 10;
}
.banner-window .window-content {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  padding: 40px;
  z-index: 0;
  background-color: #84dedf;
  padding: 0px;
  background-size: 100% 100%;
}
.feature-conent {
  padding: 20px;
}
.feature-image {
  width: 25%;
  position: relative;
}