///////////////////////////////////////////////////////////////////////////////////////////////////
///                                                                                             ///
///                          ОБЩИЕ СТИЛИ                                                        ///
///                                                                                             ///
///////////////////////////////////////////////////////////////////////////////////////////////////

@import (reference) 'settings.less';

div, span, img, td
{
    //border: 1px solid;
}

html
{
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: @background-color;
    min-height: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.roof {
    position: absolute;
    width: 100%;
    height: @roof-height;
    background-image: url('/images/shingles_bottom.png');
    background-size: auto 100%;
}



////////////////////////////////////////// МЕНЮ ///////////////////////////////////////////////////

//Верхнее горизонтальное меню
.top-menu {
    position: relative;
    padding-top: @roof-height;
    background-color: rgba(255, 106, 0, 0.4);
    z-index: 10;
    //Пункт меню
    .menu-item {
        display: inline-block;
        height: @menu-height;
        line-height: @menu-height - 20px;
        margin: 0;
        padding: 10px;
        text-decoration: none;
        transition: background-color 0.1s linear;
        color: #333;
        font-size: larger;

        &:hover {
            background-color: rgba(255, 106, 0, 0.5);
            text-decoration: none;
            color: #FFF;
        }

        &:active {
            background-color: rgba(255, 106, 0, 0.8);
            text-decoration: none;
            color: #FFF;
        }
    }
}



////////////////////////////////////////// CONTENT ////////////////////////////////////////////////

//Белая карточка с тенями в стиле Material Design
.card {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 10px;
    padding: 10px;
}

//Блок контента
.block
{
    margin: 60px 30px 60px 30px;

    h1{
        text-align: center;
    }
}

//////////////////////////////////////// ФУТЕР ////////////////////////////////////////////////////

.page-content 
{
    width: 100%;    
    min-height: 100%;
    //margin-top: -(@roof-height + @menu-height);
}

.kostil {
    height: 50px;
}

footer
{
    width: 100%;
    height: @footer-height;
    margin-top: -@footer-height;
    background-color: @grass-color;
}

/////////////////////////////////////// НОВОСТИ ///////////////////////////////////////////////////

//Карточка новости
.news-card
{
    padding: 0;

    h3 {
        padding: 10px;
    }

    img {
        max-width: 100%;
    }

    .news-brief {
        padding: 10px;
    }
}