///////////////////////////////////////////////////////////////////////////////////////////////////
///                                                                                             ///
///                          ОБЩИЕ СТИЛИ                                                        ///
///                                                                                             ///
///////////////////////////////////////////////////////////////////////////////////////////////////

@import (reference) 'settings.less';

div, span, img, td
{
    //border: 1px solid;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 235px;
}

body {
    background-color: @background-color;
    min-height: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    color: @font-color;
    min-width: 235px;
}

.roof {
    position: absolute;
    width: 100%;
    height: @roof-height;
    background-image: url('/images/shingles_bottom.png');
    background-size: auto 100%;
    z-index: 50;
}

////////////////////////////////////////// CONTENT ////////////////////////////////////////////////

//Белая карточка с тенями в стиле Material Design
.card {
    position: relative;
    background-color: #fff;
    .shadow-1;
    margin: 10px 0 10px 0;
    padding: 10px;
}

//Блок контента
.block
{
    margin: 60px 30px 60px 30px;

    h1{
        text-align: center;
    }
}

//////////////////////////////////////// ФУТЕР ////////////////////////////////////////////////////

.page-content 
{
    width: 100%;    
    min-height: 100%;
    //margin-top: -(@roof-height + @menu-height);
}

.kostil {
    height: @footer-height;
}



footer
{
    width: 100%;
    height: @footer-height;
    margin-top: -@footer-height;
}

.grass {
    margin-top: -50px;
    background-image: url('/images/grass.png');
    width: 100%;
    height: 50px;
    background-size: 60px 50px;
}


.footer-content {
    background-color: @grass-color;
    height: 50px;
}

/////////////////////////////////////// НОВОСТИ ///////////////////////////////////////////////////

//Карточка новости
.news-card
{
    padding: 0;

    h3 {
        padding: 10px;
    }
}

.news-image {
    max-width: 100%;
}

.news-content {
    padding: 10px;
}