<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f0276f83-8c3e-4aa5-8de1-faa6be5e1899/resourceGroups/ResourceGroup/providers/Microsoft.Web/sites/OurHomeMonitoring</ResourceId>
    <ResourceGroup>ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ourhomemonitoring.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ourhomemonitoring.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OurHomeMonitoring</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OurHomeMonitoring</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Default" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:markovsql.database.windows.net,1433;Initial Catalog=OurHome;Persist Security Info=False;User ID=markovsql;Password=Lhe6Yp4TsaXZHMlzulBi;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:markovsql.database.windows.net,1433;Initial Catalog=OurHome;Persist Security Info=False;User ID=markovsql;Password=Lhe6Yp4TsaXZHMlzulBi;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OurHome.EntityFramework.OurHomeDbContext, OurHome.EntityFramework" MigrationConfiguration="OurHome.Migrations.Configuration, OurHome.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Server=tcp:markovsql.database.windows.net,1433;Initial Catalog=OurHome;Persist Security Info=False;User ID=markovsql;Password=Lhe6Yp4TsaXZHMlzulBi;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Server=tcp:markovsql.database.windows.net,1433;Initial Catalog=OurHome;Persist Security Info=False;User ID=markovsql;Password=Lhe6Yp4TsaXZHMlzulBi;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>