<table class="card">
    <tr>
        <td class="feature-image">
            <img src="http://c.dryicons.com/images/icon_sets/shine_icon_set/png/256x256/image_add.png" />
        </td>

        <td class="feature-conent">
            <h3>Lorem ipsum dolor sit amet</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae sagittis lacus, eget rhoncus enim. Nunc blandit nisi at elementum aliquet. Aenean et odio nec dolor vehicula pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nunc justo. Vestibulum vehicula pellentesque nulla non varius. Nulla facilisi. Cras auctor in urna non cursus.
        </td>
    </tr>
</table>